<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <title>Histogram Equalization</title>
    <style>
        @media only screen and (min-width: 768px) {
            .parent:hover .child {
                opacity: 1;
                height: auto;
                overflow: none;
                transform: translateY(0);
            }

            .child {
                opacity: 0;
                height: 0;
                overflow: hidden;
                transform: translateY(-10%);
            }
        }
    </style>
</head>

<body class="bg-gray-100 text-gray-800">
    <!-- Navbar -->
    <nav class="flex px-4 border-b md:shadow-lg items-center relative">
        <div class="text-lg font-bold md:py-0 py-4">
            CitraCraft
        </div>
        <ul class="md:px-2 ml-auto md:flex md:space-x-2 absolute md:relative top-full left-0 right-0">
            <li>
                <a href="#" class="flex md:inline-flex p-4 items-center hover:bg-gray-50">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex md:inline-flex p-4 items-center hover:bg-gray-50">
                    <span>About us</span>
                </a>
            </li>
            <li class="relative parent">
                <a href="#" class="flex justify-between md:inline-flex p-4 items-center hover:bg-gray-50 space-x-2">
                    <span>Metode</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1" viewBox="0 0 24 24">
                        <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                    </svg>
                </a>
                <ul
                    class="child transition duration-300 md:absolute top-full right-0 md:w-48 bg-white md:shadow-lg md:rounded-b ">
                    <li>
                        <a href="histogram.html" class="flex px-4 py-3 hover:bg-gray-50">
                            Histogram Equalization
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-50">
                            Grayscale
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-50">
                            Machine Learning
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="ml-auto md:hidden text-gray-500 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" viewBox="0 0 24 24">
                <path
                    d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
            </svg>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Main content -->
    <div class="container mx-auto py-12">
        <h1 class="text-4xl font-bold text-center text-blue-500 mb-8">Histogram Equalization</h1>

        <div class="max-w-2xl mx-auto bg-white shadow-md rounded-lg p-6">
            <h2 class="text-2xl font-semibold text-gray-700 mb-6">Upload Gambar</h2>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="mb-4">
                {% for message in messages %}
                <li class="bg-red-100 text-red-600 p-2 rounded mb-2">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <!-- Form Upload -->
            <form method="post" enctype="multipart/form-data" class="space-y-4">
                <input type="file" name="file"
                class="block w-full text-gray-700 py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            
                <label for="image_type" class="block text-gray-700">Tipe Gambar:</label>
                <select id="image_type" name="image_type"
                    class="block w-full text-gray-700 py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    <option value="rgb">RGB</option>
                    <option value="grayscale">Grayscale</option>
                </select>

                <input type="submit" value="Upload"
                    class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow hover:bg-blue-600 cursor-pointer">
            </form>

            <!--show image-->
            {% if filename %}
            <div class="mt-8">
                <h3 class="text-lg font-semibold text-gray-600">Gambar yang diunggah:</h3>
                <img src="{{ url_for('static', filename='static/uploads/' + filename) }}" alt="Uploaded Image" class="mt-4 w-full rounded-lg shadow-lg">
            
            </br>
                <!-- Histogram -->
                {% if hist_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Histogram ({{ image_type|capitalize }}):</h3>
                <img src="data:image/png;base64,{{ hist_img_data }}" alt="Histogram" class="w-full rounded-lg shadow-md">
                {% endif %}
            </br>
                <!-- Equalized Histogram -->
                {% if equal_hist_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Equalized Histogram ({{ image_type|capitalize }}):</h3>
                <img src="data:image/png;base64,{{ equal_hist_img_data }}" alt="Equalized Histogram" class="w-full rounded-lg shadow-md mb-4">
                {% endif %}
            </br>
                <!-- Equalized Image -->
                {% if equalized_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Equalized Image ({{ image_type|capitalize }}):</h3>
                <img src="data:image/png;base64,{{ equalized_img_data }}" alt="Equalized Image" class="w-full rounded-lg shadow-md">
                {% endif %}
            </div>


            {% endif %}

        </div>
    </div>

    <!-- Footer Section -->
    <footer class="bg-indigo-600 text-white py-8">
        <div class="max-w-6xl mx-auto text-center">
            <p>&copy; 2024 CitraCraft. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>