<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <title>Image Processor</title>
</head>

<body class="bg-gray-100 text-gray-800" style="padding-top: 64px;">
    <!-- Navbar -->
    <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 border-b border-gray-200 dark:border-gray-600">
        <div class="max-w-screen-xl mx-auto px-4 py-4 flex items-center justify-between">
            <!-- Logo -->
            <a href="{{ url_for('homepage') }}" class="flex items-center space-x-3">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo">
                <span class="text-2xl font-semibold dark:text-white">CitraCraft</span>
            </a>

            <!-- Menu items - hidden on small screens -->
            <div class="hidden md:flex items-center space-x-8">
                <a href="{{ url_for('homepage') }}"
                    class="text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-400 font-medium">Home</a>
                <a href="#about"
                    class="text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-400 font-medium">About
                    Us</a>
                <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    onclick="window.location.href='process.html';">
                    Get Started
                </button>
            </div>

            <!-- Hamburger menu button -->
            <div class="md:hidden">
                <button type="button"
                    class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 p-2 rounded-lg focus:outline-none"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>

        <!-- Mobile menu -->
        <div class="md:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <a href="homepage.html"
                    class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">Home</a>
                <a href="#about"
                    class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">About
                    Us</a>
                <a href="process.html"
                    class="block px-3 py-2 rounded-md text-base font-medium text-white bg-blue-700 hover:bg-blue-800">Get
                    Started</a>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Main content -->
    <div class="container mx-auto py-12">
        <h1 class="text-4xl font-bold text-center text-blue-500 mb-8">Image Processor</h1>

        <div class="max-w-2xl mx-auto bg-white shadow-md rounded-lg p-6">
            <h2 class="text-2xl font-semibold text-gray-700 mb-6">Upload Gambar</h2>

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="mb-4">
                {% for message in messages %}
                <li class="bg-red-100 text-red-600 p-2 rounded mb-2">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <!-- Form Upload -->
            <form method="post" enctype="multipart/form-data" class="space-y-4">
                <input type="file" name="file"
                    class="block w-full text-gray-700 py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">

                <label for="image_type" class="block text-gray-700">Tipe Gambar:</label>
                <select id="image_type" name="image_type"
                    class="block w-full text-gray-700 py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    <option value="rgb">RGB Histogram</option>
                    <option value="grayscale">Grayscale Histogram</option>
                    <option value="edge_detection">Edge Detection</option>
                    <option value="face_detection">Face Detection</option>
                    <option value="face_blurring">Face Blurring</option> 
                    <option value="background_blurring">Background Blurring</option>
                </select>

                <input type="submit" value="Upload"
                    class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow hover:bg-blue-600 cursor-pointer">
            </form>

            <!-- Show Image -->
            {% if filename %}
            <div class="mt-8">
                <h3 class="text-lg font-semibold text-gray-600">Gambar yang diunggah:</h3>
                <img src="{{ url_for('static', filename='static/uploads/' + filename) }}" alt="Uploaded Image"
                    class="mt-4 w-full rounded-lg shadow-lg">
                </br>
                <!-- Histogram -->
                {% if hist_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Histogram ({{ image_type|capitalize }}):</h3>
                <img src="data:image/png;base64,{{ hist_img_data }}" alt="Histogram"
                    class="w-full rounded-lg shadow-md">
                {% endif %}
                </br>
                <!-- Equalized Histogram -->
                {% if equal_hist_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Equalized Histogram ({{ image_type|capitalize }}):</h3>
                <img src="data:image/png;base64,{{ equal_hist_img_data }}" alt="Equalized Histogram"
                    class="w-full rounded-lg shadow-md mb-4">
                {% endif %}
                </br>
                <!-- Equalized Image -->
                {% if equalized_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Equalized Image ({{ image_type|capitalize }}):</h3>
                <img src="data:image/png;base64,{{ equalized_img_data }}" alt="Equalized Image"
                    class="w-full rounded-lg shadow-md">
                {% endif %}
                </br>
                <!-- Edge Detection Image -->
                {% if edge_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Edge Detection Image:</h3>
                <img src="data:image/png;base64,{{ edge_img_data }}" alt="Edge Detection Image"
                    class="w-full rounded-lg shadow-md">
                {% endif %}
                <!-- Face Detection Image -->
                {% if face_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Face Detection Image:</h3>
                <img src="data:image/png;base64,{{ face_img_data }}" alt="Face Detection Image"
                    class="w-full rounded-lg shadow-md">
                {% endif %}
                <!--Face Blurring-->
                {% if face_blur_img_data %}
                <div class="mt-6">
                    <label for="blurRange" class="block text-gray-700">Atur Tingkat Blur:</label>
                    <input type="range" id="blurRange" name="blurRange" min="1" max="100" value="50" class="w-full" onchange="updateBlur(this.value)">
                </div>
                
                <!-- Resulting blurred image w slider -->
                <div id="blurResult" class="mt-6">
                    <h3 class="text-lg font-semibold text-gray-600">Hasil Face Blurring:</h3>
                    <img id="blurredImage" src="data:image/png;base64,{{ face_blur_img_data }}" alt="Blurred Face Image"
                         class="w-full rounded-lg shadow-md">
                </div>  
                {% endif %}
                <div class="columns-2">
                <!-- Segmentation Image -->
                {% if segmentation_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Segmentation Result:</h3>
                <img src="data:image/png;base64,{{ segmentation_img_data }}" alt="Segmentation Image" class="w-full rounded-lg shadow-md">
                {% endif %}

                <!-- Blurred Background Image -->
                {% if blurred_background_img_data %}
                <h3 class="text-lg font-semibold text-gray-600">Blurred Background Image:</h3>
                <img src="data:image/png;base64,{{ blurred_background_img_data }}" alt="Blurred Background Image" class="w-full rounded-lg shadow-md">
                {% endif %}
                </div>

            </div>
            {% endif %}
        </div>
    </div>
    <!-- End Main Content -->

    <!-- Footer Section -->
    <footer class="bg-indigo-600 text-white py-8">
        <div class="max-w-6xl mx-auto text-center">
            <p>&copy; 2024 CitraCraft. All rights reserved.</p>
        </div>
    </footer>
    <!-- End Footer Section -->

    <script>
        function updateBlur(blurValue) {
            const xhr = new XMLHttpRequest();
            const formData = new FormData();
            formData.append('blurRange', blurValue);
            formData.append('filename', "{{ filename }}");  // Mengirim nama file yang diunggah
    
            xhr.open('POST', '/update_blur', true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    
            xhr.onload = function () {
                if (xhr.status === 200) {
                    try {
                        const response = JSON.parse(xhr.responseText);
                        if (response.updated_image) {
                            document.getElementById('blurredImage').src = 'data:image/png;base64,' + response.updated_image;
                        } else {
                            console.error('Unexpected response format:', response);
                        }
                    } catch (e) {
                        console.error('Invalid JSON response:', xhr.responseText);
                    }
                } else {
                    console.error('Request failed with status:', xhr.status, 'Response:', xhr.responseText);
                }
            };
    
            xhr.send(formData);
        }
    </script>
    
        
    
    
</body>

</html>